@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
  height: 100%;
  background-image: url('./images/bodyImage.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-position: center; 
  background-size:cover !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-background-size: cover;
}

.text{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.codeTitleLeft {
  position: absolute;
  top: -10px;
  left: 20px;
  height: 30px;
  width: 250px;
  background-color: #7C81AD;
  border: 2px solid white ;
  border-radius: 50px;
  text-align: center;
}

.codeTitleRight{
  position: absolute;
  top: -10px;
  right: 20px;
  height: 30px;
  width: 250px;
  background-color: #7C81AD;
  border: 2px solid white ;
  border-radius: 50px;
  text-align: center;
}

.codeText{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}